.header-content {
    min-height: 75vh;
    background: url("../../images/library-img.jpg") center/cover no-repeat;
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    border-radius: 20px; 
  }
  
  .header-title {
    font-size: 4.2rem;
    color: white; 
  }
  
  .header-text {
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    color: white; 
    font-weight: 700;
    font-size: 2.8rem;
  }
  
  @media screen and (max-width: 768px) {
    .header-title {
      font-size: 3.5rem; 
    }
  
    .header-text {
      font-size: 2rem;
    }
  }
  