.footer {
    padding: 1.8rem 0;
    background-color: lightgreen; 
    box-shadow: rgba(202, 9, 186, 0.1);
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .footer-text {
    font-size: 18px;
    color: purple; 
    margin-right: 10px;
    font-weight: 400;
  }
  
  .copyright {
    font-size: 14px;
    color: black;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
  }
  